<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detailed Stock Page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'stocks/detailed.css' %}" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body class=" bg-light bg-gradient">
  <container>
    <!-- Bootstrap navbar Just has placeholder companies at this time-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-body">
      <div class="container-fluid d-flex justify-content-between align-items-center">
        <!-- Left-aligned link -->
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}" style="font-size: x-large;"><i class="bi bi-house-fill"></i></a>
        </div>
        
        <!-- Center-aligned links -->
        <div class="navbar-nav mx-auto">
          <a class="nav-link active" aria-current="page" href="{% url 'detailed' %}" style="font-size: large;">XOM</a>
          <a class="nav-link active" aria-current="page" href="{% url 'detailed' %}" style="font-size: large;">CVX</a>
          <a class="nav-link active" aria-current="page" href="{% url 'detailed' %}" style="font-size: large;">NVDA</a>
          <a class="nav-link active" aria-current="page" href="{% url 'detailed' %}" style="font-size: large;">WMT</a>
          <a class="nav-link active" aria-current="page" href="{% url 'detailed' %}" style="font-size: large;">KO</a>
          <a class="nav-link active" aria-current="page" href="{% url 'detailed' %}" style="font-size: large;">PFE</a>
          <a class="nav-link active" aria-current="page" href="{% url 'detailed' %}" style="font-size: large;">VZ</a>
          <a class="nav-link active" aria-current="page" href="{% url 'detailed' %}" style="font-size: large;">HD</a>
          <a class="nav-link active" aria-current="page" href="{% url 'detailed' %}" style="font-size: large;">ZG</a>
          <a class="nav-link active" aria-current="page" href="{% url 'detailed' %}" style="font-size: large;">META</a>
          <a class="nav-link active" aria-current="page" href="{% url 'detailed' %}" style="font-size: large;">GOOGL</a>
          <a class="nav-link active" aria-current="page" href="{% url 'test' %}" style="font-size: large;">Test</a>
        </div>
      </div>
    </nav>
    

    <!-- Main content area -->

    <!-- Row containing View Chart, 52 Week High, Market Capitilization, and About Sections -->
    <div class="container mt-3 justify-content-center" style="height: auto;">
      <div class="row">

        <!-- Column contained Chart, 52 Week Section, and Capitilization Section -->
        <div class="col-lg-8">

          <!-- Trading View Chart Box -->
          <div
            class="container-fluid bg-white p-3 mb-3 d-flex justify-content-center align-items-center bg-opacity-90 shadow"
            style="height: 50vh; border-radius: 10px;">

            <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container" style="height:100%;width:100%">
              <div class="tradingview-widget-container__widget" style="height:calc(100% - 32px);width:100%"></div>
              <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow"
                  target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>
              <script type="text/javascript"
                src="https://s3.tradingview.com/external-embedding/embed-widget-advanced-chart.js" async>
                {
                  "autosize": true,
                  "symbol": "AMEX:SPY",
                  "interval": "D",
                  "timezone": "Etc/UTC",
                  "theme": "light",
                  "style": "1",
                  "locale": "en",
                  "enable_publishing": false,
                  "hide_top_toolbar": true,
                  "withdateranges": true,
                  "save_image": false,
                  "calendar": false,
                  "support_host": "https://www.tradingview.com"
                }
              </script>
            </div>
            <!-- TradingView Widget END -->
          </div>

          <!-- 52 Week High to Latest Quarter Section -->
          <div
            class="container-fluid bg-white p-3 mb-3 d-flex justify-content-center align-items-center bg-opacity-90 shadow"
            style="height: auto; border-radius: 10px;">
            <div class="row">
              <div class="table-responsive">
                <!-- Stock information table formatting subject to change-->
                <table class=" table table-bordered table-striped table-hover bg-light">
                  <thead>
                    <tr>
                      <th scope="col-lg-2"> </th>
                      <th scope="col-lg-2"> High </th>
                      <th scope="col-lg-2"> Low </th>
                      <th scope="col-lg-2"> Open </th>
                      <th scope="col-lg-2"> Close </th>
                      <th scope="col-lg-2"> Volume </th>
                    </tr>
                  </thead>
                  <tbody>
                    <!--Format rows.-->
                    <tr>
                      <th scope="row"><a class="nav-link active" aria-current="page" href="{% url 'detailed' %}">XOM</a></th>
                      <td>$$$</td>
                      <td>$$$</td>
                      <td>$$$</td>
                      <td>$$$</td>
                      <td>$$$</td>
                    </tr>
                    <tr>
                      <th scope="row"><a class="nav-link active" aria-current="page" href="{% url 'detailed' %}">CVX</a></th>
                      <td>$$$</td>
                      <td>$$$</td>
                      <td>$$$</td>
                      <td>$$$</td>
                      <td>$$$</td>
                    </tr>
                    <tr>
                      <th scope="row"><a class="nav-link active" aria-current="page" href="{% url 'detailed' %}">NVDA</a></th>
                      <td>$$$</td>
                      <td>$$$</td>
                      <td>$$$</td>
                      <td>$$$</td>
                      <td>$$$</td>
                    </tr>
                    <tr>
                      <th scope="row"><a class="nav-link active" aria-current="page" href="{% url 'detailed' %}">WMT</a></th>
                      <td>$$$</td>
                      <td>$$$</td>
                      <td>$$$</td>
                      <td>$$$</td>
                      <td>$$$</td>
                    </tr>
                    <tr>
                      <th scope="row"><a class="nav-link active" aria-current="page" href="{% url 'detailed' %}">KO</a></th>
                      <td>$$$</td>
                      <td>$$$</td>
                      <td>$$$</td>
                      <td>$$$</td>
                      <td>$$$</td>
                    </tr>
                    <tr>
                      <th scope="row"><a class="nav-link active" aria-current="page" href="{% url 'detailed' %}">PFE</a></th>
                      <td>$$$</td>
                      <td>$$$</td>
                      <td>$$$</td>
                      <td>$$$</td>
                      <td>$$$</td>
                    </tr>
                    <tr>
                      <th scope="row"><a class="nav-link active" aria-current="page" href="{% url 'detailed' %}">VZ</a></th>
                      <td>$$$</td>
                      <td>$$$</td>
                      <td>$$$</td>
                      <td>$$$</td>
                      <td>$$$</td>
                    </tr>
                    <tr>
                      <th scope="row"><a class="nav-link active" aria-current="page" href="{% url 'detailed' %}">HD</a></th>
                      <td>$$$</td>
                      <td>$$$</td>
                      <td>$$$</td>
                      <td>$$$</td>
                      <td>$$$</td>
                    </tr>
                    <tr>
                      <th scope="row"><a class="nav-link active" aria-current="page" href="{% url 'detailed' %}">ZG</a></th>
                      <td>$$$</td>
                      <td>$$$</td>
                      <td>$$$</td>
                      <td>$$$</td>
                      <td>$$$</td>
                    </tr>
                    <tr>
                      <th scope="row"><a class="nav-link active" aria-current="page" href="{% url 'detailed' %}">META</a></th>
                      <td>$$$</td>
                      <td>$$$</td>
                      <td>$$$</td>
                      <td>$$$</td>
                      <td>$$$</td>
                    </tr>
                    <tr>
                      <th scope="row"><a class="nav-link active" aria-current="page" href="{% url 'detailed' %}">GOOGL</a></th>
                      <td>$$$</td>
                      <td>$$$</td>
                      <td>$$$</td>
                      <td>$$$</td>
                      <td>$$$</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>

        <!-- Column for About Section -->
        <div class="col-lg-4 mb-3" style="display: flex; flex-direction: column; height: 100%; border-radius: 10px;">
          <div
            class="container-fluid bg-white p-3 mb-3 d-flex flex-column justify-content-between align-items-stretch bg-opacity-90 shadow"
            style="height: 100%; border-radius: 10px;">

            <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container">
              <div class="tradingview-widget-container__widget"></div>
              <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow"
                  target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>
              <script type="text/javascript"
                src="https://s3.tradingview.com/external-embedding/embed-widget-timeline.js" async>
                {
                  "feedMode": "all_symbols",
                  "isTransparent": false,
                  "displayMode": "regular",
                  "width": "100%",
                  "height": "100%",
                  "colorTheme": "light",
                  "locale": "en"
                }
              </script>
            </div> <!-- TradingView Widget END -->

          </div>
        </div>
      </div>
    </div>

  </container>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
  </script>
</body>

</html>