<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detailed Stock Page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'stocks/detailed.css' %}" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body class=" bg-white bg-gradient">
  <container>
    <!-- Bootstrap navbar Just has placeholder companies at this time-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-body">
      <div class="container-fluid d-flex justify-content-between align-items-center">
        <!-- Left-aligned link -->
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}" style="font-size: x-large;">
            <i class="bi bi-house-fill"></i>
          </a>
        </div>

        <!-- Center-aligned links -->
        <div class="navbar-nav mx-auto">
          <a class="nav-link active" aria-current="page" href="{% url 'EXXON' %}" data-symbol="XOM"
            style="font-size: large;">XOM</a>
          <a class="nav-link active" aria-current="page" href="{% url 'CHEVRON' %}" data-symbol="CVX"
            style="font-size: large;">CVX</a>
          <a class="nav-link active" aria-current="page" href="{% url 'NVIDIA' %}" data-symbol="NVDA"
            style="font-size: large;">NVDA</a>
          <a class="nav-link active" aria-current="page" href="{% url 'WALMART' %}" data-symbol="WMT"
            style="font-size: large;">WMT</a>
          <a class="nav-link active" aria-current="page" href="{% url 'COCACOLA' %}" data-symbol="KO"
            style="font-size: large;">KO</a>
          <a class="nav-link active" aria-current="page" href="{% url 'PFIZER' %}" data-symbol="PFE"
            style="font-size: large;">PFE</a>
          <a class="nav-link active" aria-current="page" href="{% url 'VERIZON' %}" data-symbol="VZ"
            style="font-size: large;">VZ</a>
          <a class="nav-link active" aria-current="page" href="{% url 'HOMEDEPOT' %}" data-symbol="HD"
            style="font-size: large;">HD</a>
          <a class="nav-link active" aria-current="page" href="{% url 'ZILLOW' %}" data-symbol="ZG"
            style="font-size: large;">ZG</a>
          <a class="nav-link active" aria-current="page" href="{% url 'META' %}" data-symbol="META"
            style="font-size: large;">META</a>
          <a class="nav-link active" aria-current="page" href="{% url 'GOOGLE' %}" data-symbol="GOOGL"
            style="font-size: large;">GOOGL</a>
        </div>
      </div>
    </nav>



    <!-- Main content area -->

    <!-- Row containing View Chart, 52 Week High, Market Capitilization, and About Sections -->
    <div class="container mt-3" style="height: auto;">
      <div class="row">

        <!-- Column contained Chart, 52 Week Section, and Capitilization Section -->
        <div class="col-lg-8 d-flex flex-column">

          <!-- Trading View Chart Box -->
          <div id="tradingview-chart"
            class="container-fluid bg-white p-3 mb-3 d-flex justify-content-center align-items-center bg-opacity-50 shadow"
            style="height: 50vh; border-radius: 10px;">

            <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container" style="height:100%;width:100%">
              <div class="tradingview-widget-container__widget" style="height:calc(100% - 32px);width:100%"></div>

              <script>
                let tvScriptLoadingPromise;

                function TradingViewWidget(chartSymbol, containerId) {
                  if (!tvScriptLoadingPromise) {
                    tvScriptLoadingPromise = new Promise((resolve) => {
                      const script = document.createElement("script");
                      script.id = "tradingview-widget-loading-script";
                      script.src = "https://s3.tradingview.com/tv.js";
                      script.type = "text/javascript";
                      script.onload = resolve;

                      document.head.appendChild(script);
                    });
                  }

                  tvScriptLoadingPromise.then(() => {
                    if (document.getElementById(containerId) && window.TradingView) {
                      new window.TradingView.widget({
                        "autosize": true,
                        "symbol": chartSymbol, // Initial symbol value
                        "interval": "D",
                        "timezone": "Etc/UTC",
                        "theme": "light",
                        "style": "1",
                        "locale": "en",
                        "enable_publishing": false,
                        "hide_top_toolbar": true,
                        "withdateranges": true,
                        "save_image": false,
                        "calendar": false,
                        allow_symbol_change: true,
                        container_id: containerId // Updated to use the provided container ID
                      });
                    }
                  });
                }

                function changeSymbol(symbol) {
                  document.getElementById("tradingview-chart").innerHTML = "";
                  TradingViewWidget(symbol, "tradingview-chart");
                }

                // Call changeSymbol() with the appropriate stock symbol when a link is clicked
                document.querySelectorAll('.nav-link').forEach(link => {
                  link.addEventListener('click', function (event) {
                    //event.preventDefault(); // Prevent the default action of following the link
                    const symbol = this.getAttribute('data-symbol');
                    changeSymbol(symbol);
                  });
                });

                // Load the chart with a default symbol when the page is initially loaded
                window.onload = function () {
                  // Choose a default symbol here (e.g., "AAPL" for Apple)
                  defaultSymbol = chartSymbol;
                  changeSymbol(defaultSymbol);
                };
              </script>
            </div>
            <!-- TradingView Widget END -->
          </div>

          <!-- 52 Week High to Latest Quarter Section -->
          <div class="container-fluid bg-white p-3 mb-3 justify-content-center align-items-center bg-opacity-50 shadow"
            style="height: auto; border-radius: 10px;">
            <div class="row">
              <div class="col-md-6">


                <!-- Left Column -->
                <div class="row">
                  <!-- 8 rows in left column -->
                  <div class="col-md-12">
                    <div class="d-flex justify-content-between align-items-center">
                      <span>52 Week High</span>
                      {% for stock in filteredFFD %}
                      <span>{{ stock.number_52weekhigh }}</span>
                      {% endfor %}
                    </div>
                    <hr class="my-1">
                  </div>
                  <div class="col-md-12">
                    <div class="d-flex justify-content-between align-items-center">
                      <span>52 Week Low</span>
                      {% for stock in filteredFFD %}
                      <span>{{ stock.number_52weeklow }}</span>
                      {% endfor %}
                    </div>
                    <hr class="my-1">
                  </div>
                  <div class="col-md-12">
                    <div class="d-flex justify-content-between align-items-center">
                      <span>50 Day Average</span>
                      {% for stock in filteredFFD %}
                      <span>{{ stock.number_50daymovingaverage }}</span>
                      {% endfor %}
                    </div>
                    <hr class="my-1">
                  </div>
                  <div class="col-md-12">
                    <div class="d-flex justify-content-between align-items-center">
                      <span>200 Day Average</span>
                      {% for stock in filteredFFD %}
                      <span>{{ stock.number_200daymovingaverage }}</span>
                      {% endfor %}
                    </div>
                    <hr class="my-1">
                  </div>
                  <div class="col-md-12">
                    <div class="d-flex justify-content-between align-items-center">
                      <span>Volume</span>
                      {% for stock in filteredPD %}
                      <span>{{ stock.volume }}</span>
                      {% endfor %}
                    </div>
                    <hr class="my-1">
                  </div>
                  <div class="col-md-12">
                    <div class="d-flex justify-content-between align-items-center">
                      <span>Shares Outstanding</span>
                      {% for stock in filteredFFD %}
                      <span>{{ stock.sharesoutstanding }}</span>
                      {% endfor %}
                    </div>
                    <hr class="my-1">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <!-- Right Column -->
                <div class="col-md-12">
                  <div class="d-flex justify-content-between align-items-center">
                    <span>Dividend Per Share</span>
                    {% for stock in filteredFFD %}
                    <span>{{ stock.dividendpershare }}</span>
                    {% endfor %}
                  </div>
                  <hr class="my-1">
                </div>
                <div class="col-md-12">
                  <div class="d-flex justify-content-between align-items-center">
                    <span>Dividend Yield</span>
                    {% for stock in filteredFFD %}
                    <span>{{ stock.divdendyield }}</span>
                    {% endfor %}
                  </div>
                  <hr class="my-1">
                </div>
                <div class="col-md-12">
                  <div class="d-flex justify-content-between align-items-center">
                    <span>Dividend Date</span>
                    {% for stock in filteredFFD %}
                    <span>{{ stock.dividenddate }}</span>
                    {% endfor %}
                  </div>
                  <hr class="my-1">
                </div>
                <div class="col-md-12">
                  <div class="d-flex justify-content-between align-items-center">
                    <span>Ex Dividend Date</span>
                    {% for stock in filteredFFD %}
                    <span>{{ stock.exdividenddate }}</span>
                    {% endfor %}
                  </div>
                  <hr class="my-1">
                </div>
                <div class="col-md-12">
                  <div class="d-flex justify-content-between align-items-center">
                    <span>Fiscal Year End</span>
                    {% for stock in filteredFFD %}
                    <span>{{ stock.fiscalyearend }}</span>
                    {% endfor %}
                  </div>
                  <hr class="my-1">
                </div>
                <div class="col-md-12">
                  <div class="d-flex justify-content-between align-items-center">
                    <span>Latest Quarter</span>
                    {% for stock in filteredFFD %}
                    <span>{{ stock.latestquarter }}</span>
                    {% endfor %}
                  </div>
                  <hr class="my-1">
                </div>
              </div>
            </div>
          </div>

          <!-- Market Capitilzation to Forward P/E Section -->
          <div class="container-fluid bg-white p-3 mb-3 justify-content-center align-items-center bg-opacity-50 shadow"
            style="height: auto; border-radius: 10px;">
            <div class="row">
              <div class="col-md-6">
                <!-- Left Column -->
                <div class="row">
                  <!-- 4 rows in left column -->
                  <div class="col-md-12">
                    <div class="d-flex justify-content-between align-items-center">
                      <span>Market Capitalization</span>
                      {% for stock in filteredFFD %}
                      <span>{{ stock.marketcapitalization }}</span>
                      {% endfor %}
                    </div>
                    <hr class="my-1">
                  </div>
                  <div class="col-md-12">
                    <div class="d-flex justify-content-between align-items-center">
                      <span>EBITDA</span>
                      {% for stock in filteredFFD %}
                      <span>{{ stock.ebitda }}</span>
                      {% endfor %}
                    </div>
                    <hr class="my-1">
                  </div>
                  <div class="col-md-12">
                    <div class="d-flex justify-content-between align-items-center">
                      <span>Book Value</span>
                      {% for stock in filteredFFD %}
                      <span>{{ stock.bookvalue }}</span>
                      {% endfor %}
                    </div>
                    <hr class="my-1">
                  </div>
                  <div class="col-md-12">
                    <div class="d-flex justify-content-between align-items-center">
                      <span>EPS</span>
                      {% for stock in filteredFFD %}
                      <span>{{ stock.eps }}</span>
                      {% endfor %}
                    </div>
                    <hr class="my-1">
                  </div>

                </div>
              </div>
              <div class="col-md-6">
                <!-- Right Column -->
                <div class="row">
                  <div class="col-md-12">
                    <div class="d-flex justify-content-between align-items-center">
                      <span>P/E Ratio</span>
                      {% for stock in filteredFFD %}
                      <span>{{ stock.peration }}</span>
                      {% endfor %}
                    </div>
                    <hr class="my-1">
                  </div>
                  <div class="col-md-12">
                    <div class="d-flex justify-content-between align-items-center">
                      <span>P/E/G Ratio</span>
                      {% for stock in filteredFFD %}
                      <span>{{ stock.pegration }}</span>
                      {% endfor %}
                    </div>
                    <hr class="my-1">
                  </div>
                  <div class="col-md-12">
                    <div class="d-flex justify-content-between align-items-center">
                      <span>Trailing P/E</span>
                      {% for stock in filteredFFD %}
                      <span>{{ stock.trailingpe }}</span>
                      {% endfor %}
                    </div>
                    <hr class="my-1">
                  </div>
                  <div class="col-md-12">
                    <div class="d-flex justify-content-between align-items-center">
                      <span>Forward P/E</span>
                      {% for stock in filteredFFD %}
                      <span>{{ stock.forwardpe }}</span>
                      {% endfor %}
                    </div>
                    <hr class="my-1">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Column for About Section -->
        <div class="col-lg-4 mb-3" style="display: flex; flex-direction: column; height: auto; border-radius: 10px;">
          <div class="container-fluid bg-white p-3 mb-3 d-flex flex-column align-items-stretch bg-opacity-50 shadow"
            style="height: auto; border-radius: 10px;">

            <!-- Company Name and Ticker -->
            <hr class="my-1">
            <h1 style="font-display: 1; font-weight: bold;"> {% for stock in filteredFFD %} <span> {{ stock.name }}
              </span> {% endfor %}</h1>
            <h2 style="font-size: x-large">{% for stock in filteredFFD %} <span> {{ stock.symbol }} </span> {% endfor %}
              {% for stock in filteredPD %} <span> $ {{ stock.open|floatformat:2 }} </span> {% endfor %}
              {% for difference in price_differences %}
              {% if difference > 0 %}
              <span style="color: #00bf23; font-weight: bold;">+{{ difference|floatformat:2 }} <i
                  class="bi bi-arrow-up-circle-fill"></i></span>
              {% elif difference < 0 %}
              <span style="color: red; font-weight: bold;">{{ difference|floatformat:2 }} <i
                  class="bi bi-arrow-down-circle-fill"></i></span>
              {% else %}
              <span style="color: gray; font-weight: bold;">{{ difference|floatformat:2 }}</span>
              {% endif %}
              {% endfor %}</h2>
          </div>

          <div
            class="container-fluid bg-white p-3 mb-3 d-flex flex-column justify-content-between align-items-stretch bg-opacity-50 shadow"
            style="height: auto; border-radius: 10px;">

            <!-- Container for Open/Close/High/Low -->
            <div class="col-md-12 mt-lg-2 mb-lg-2 ">
              <div class="col-md-12">
                <div class="d-flex justify-content-between align-items-center">
                  <span style="font-weight: bold; font-size: larger;">Open</span>
                  {% for stock in filteredPD %}
                  <span>$ {{ stock.open|floatformat:2 }}</span>
                  {% endfor %}
                </div>
                <hr class="my-1">
              </div>
              <div class="col-md-12">
                <div class="d-flex justify-content-between align-items-center">
                  <span style="font-weight: bold; font-size: larger;">Close</span>
                  {% for stock in filteredPD %}
                  <span>$ {{ stock.close|floatformat:2 }}</span>
                  {% endfor %}
                </div>
                <hr class="my-1">
              </div>
              <div class="col-md-12">
                <div class="d-flex justify-content-between align-items-center">
                  <span style="font-weight: bold; font-size: larger;">High</span>
                  {% for stock in filteredPD %}
                  <span>$ {{ stock.high|floatformat:2 }}</span>
                  {% endfor %}
                </div>
                <hr class="my-1">
              </div>
              <div class="col-md-12">
                <div class="d-flex justify-content-between align-items-center">
                  <span style="font-weight: bold; font-size: larger;">Low</span>
                  {% for stock in filteredPD %}
                  <span>$ {{ stock.low|floatformat:2 }}</span>
                  {% endfor %}
                </div>
                <hr class="my-1">
              </div>
            </div>

          </div>

          <div
            class="container-fluid bg-white p-3 mb-3 d-flex flex-column align-items-stretch bg-opacity-50 shadow align-items-start"
            style="height: auto; border-radius: 10px; ">

            <!-- About Header -->
            <h2 style="font-size: medium; font-weight: bold;">About</h2>
            <hr class="my-1">

            <!--About Section-->
            <p>
              {% for stock in filteredFFD %}
              <span style="line-height: 1.75;">{{ stock.desc }}</span>
              {% endfor %}
            </p>

          </div>
          <div class="container-fluid bg-white p-3 d-flex flex-column align-items-stretch bg-opacity-50 shadow"
            style="height: auto; border-radius: 10px;">

            <!-- Company Information-->
            <div style="margin-top: auto;">
              <div class="row align-items-bottom">
                <div class="col-md-12">
                  <!-- Left Column -->
                  <div class="row">
                    <!-- 4 rows in left column -->
                    <div class="col-md-12">
                      <div class="d-flex justify-content-between align-items-center">
                        <span>Sector</span>
                        {% for stock in filteredFFD %}
                        <span>{{ stock.sector }}</span>
                        {% endfor %}
                      </div>
                      <hr class="my-1">
                    </div>
                    <div class="col-md-12">
                      <div class="d-flex justify-content-between align-items-center">
                        <span>Industry</span>
                        {% for stock in filteredFFD %}
                        <span>{{ stock.industry }}</span>
                        {% endfor %}
                      </div>
                      <hr class="my-1">
                    </div>
                    <div class="col-md-12">
                      <div class="d-flex justify-content-between align-items-center">
                        <span>Country</span>
                        {% for stock in filteredFFD %}
                        <span>{{ stock.address }}</span>
                        {% endfor %}
                      </div>
                      <hr class="my-1">
                    </div>
                    <div class="col-md-12">
                      <div class="d-flex justify-content-between align-items-center">
                        <span>CIK</span>
                        {% for stock in filteredFFD %}
                        <span>{{ stock.cik }}</span>
                        {% endfor %}
                      </div>
                      <hr class="my-1">
                    </div>
                    <div class="col-md-12">
                      <div class="d-flex justify-content-between align-items-center">
                        <span>Exchange</span>
                        {% for stock in filteredFFD %}
                        <span>{{ stock.exchange }}</span>
                        {% endfor %}
                      </div>
                      <hr class="my-1">
                    </div>
                    <div class="col-md-12">
                      <div class="d-flex justify-content-between align-items-center">
                        <span>Currency</span>
                        {% for stock in filteredFFD %}
                        <span>{{ stock.currency }}</span>
                        {% endfor %}
                      </div>
                      <hr class="my-1">
                    </div>
                    <div class="col-md-12">
                      <div class="d-flex justify-content-between align-items-center">
                        <span>Asset Type</span>
                        {% for stock in filteredFFD %}
                        <span>{{ stock.assettype }}</span>
                        {% endfor %}
                      </div>
                      <hr class="my-1">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Analyst Target Price and Revenue Per Share section -->
    <div class="container" style="height: auto;">
      <div class="row">

        <!-- Analyst Target Price Section -->
        <div class="col-lg-4 mb-3">
          <div class="container-fluid bg-white p-3 justify-content-center align-items-center bg-opacity-50 shadow"
            style="height: 100%; border-radius: 10px;">
            <!--6 rows -->
            <div class="col-md-12">
              <div class="d-flex justify-content-between align-items-center">
                <span>Analyst Target Price</span>
                {% for stock in filteredFFD %}
                <span>{{ stock.analysttargetprice }}</span>
                {% endfor %}
              </div>
              <hr class="my-1">
            </div>
            <div class="col-md-12">
              <div class="d-flex justify-content-between align-items-center">
                <span>Price to Sales Ratio</span>
                {% for stock in filteredFFD %}
                <span>{{ stock.pricetosalesrationttm }}</span>
                {% endfor %}
              </div>
              <hr class="my-1">
            </div>
            <div class="col-md-12">
              <div class="d-flex justify-content-between align-items-center">
                <span>Price to Book Ratio</span>
                {% for stock in filteredFFD %}
                <span>{{ stock.pricetobookratio }}</span>
                {% endfor %}
              </div>
              <hr class="my-1">
            </div>
            <div class="col-md-12">
              <div class="d-flex justify-content-between align-items-center">
                <span>EV to Revenue</span>
                {% for stock in filteredFFD %}
                <span>{{ stock.evtorevenue }}</span>
                {% endfor %}
              </div>
              <hr class="my-1">
            </div>
            <div class="col-md-12">
              <div class="d-flex justify-content-between align-items-center">
                <span>EV to EBITDA</span>
                {% for stock in filteredFFD %}
                <span>{{ stock.evtoebitda }}</span>
                {% endfor %}
              </div>
              <hr class="my-1">
            </div>
          </div>
        </div>

        <!-- Revenue Per Share Section -->
        <div class="col-lg-8 mb-3">
          <div class="container-fluid bg-white p-3 justify-content-center align-items-center bg-opacity-50 shadow"
            style="height: 100%; border-radius: 10px;">
            <div class="row">
              <div class="col-md-6">
                <!-- Left Column -->
                <div class="row">
                  <!-- 5 rows in left column -->
                  <div class="col-md-12">
                    <div class="d-flex justify-content-between align-items-center">
                      <span>Revenue Per Share (TTM)</span>
                      {% for stock in filteredFFD %}
                      <span>{{ stock.revenuepersharettm }}</span>
                      {% endfor %}
                    </div>
                    <hr class="my-1">
                  </div>
                  <div class="col-md-12">
                    <div class="d-flex justify-content-between align-items-center">
                      <span>Profit Margin (TTM)</span>
                      {% for stock in filteredFFD %}
                      <span>{{ stock.profitmargin }}</span>
                      {% endfor %}
                    </div>
                    <hr class="my-1">
                  </div>
                  <div class="col-md-12">
                    <div class="d-flex justify-content-between align-items-center">
                      <span>Operating Margin (TTM)</span>
                      {% for stock in filteredFFD %}
                      <span>{{ stock.operatingmarginttm }}</span>
                      {% endfor %}
                    </div>
                    <hr class="my-1">
                  </div>
                  <div class="col-md-12">
                    <div class="d-flex justify-content-between align-items-center">
                      <span>Return on Assets (TTM)</span>
                      {% for stock in filteredFFD %}
                      <span>{{ stock.returnonassetsttm }}</span>
                      {% endfor %}
                    </div>
                    <hr class="my-1">
                  </div>
                  <div class="col-md-12">
                    <div class="d-flex justify-content-between align-items-center">
                      <span>Return on Equity (TTM)</span>
                      {% for stock in filteredFFD %}
                      <span>{{ stock.returnonequityttm }}</span>
                      {% endfor %}
                    </div>
                    <hr class="my-1">
                  </div>

                </div>
              </div>
              <div class="col-md-6">
                <!-- Right Column -->
                <div class="row">
                  <div class="col-md-12">
                    <div class="d-flex justify-content-between align-items-center">
                      <span>Revenue (TTM)</span>
                      {% for stock in filteredFFD %}
                      <span>{{ stock.revenuettm }}</span>
                      {% endfor %}
                    </div>
                    <hr class="my-1">
                  </div>
                  <div class="col-md-12">
                    <div class="d-flex justify-content-between align-items-center">
                      <span>Gross Profit (TTM)</span>
                      {% for stock in filteredFFD %}
                      <span>{{ stock.grossprofitttm }}</span>
                      {% endfor %}
                    </div>
                    <hr class="my-1">
                  </div>
                  <div class="col-md-12">
                    <div class="d-flex justify-content-between align-items-center">
                      <span>Quarterly Earnings Growth (YOY)</span>
                      {% for stock in filteredFFD %}
                      <span>{{ stock.quarterlyearningsgrowthyoy }}</span>
                      {% endfor %}
                    </div>
                    <hr class="my-1">
                  </div>
                  <div class="col-md-12">
                    <div class="d-flex justify-content-between align-items-center">
                      <span>Quarterly Revenue Growth(YOY)</span>
                      {% for stock in filteredFFD %}
                      <span>{{ stock.quarterlyrevenuegrowthyoy }}</span>
                      {% endfor %}
                    </div>
                    <hr class="my-1">
                  </div>
                  <div class="col-md-12">
                    <div class="d-flex justify-content-between align-items-center">
                      <span>Diluted EPS (TTM)</span>
                      {% for stock in filteredFFD %}
                      <span>{{ stock.dilutedepsttm }}</span>
                      {% endfor %}
                    </div>
                    <hr class="my-1">
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>


  </container>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
  </script>
</body>

</html>