<!--Not currently being used, i.e. Will Change as needed for AlphaVantage API Info(Was using a different API when I created this.)-->
{% extends "base.html" %}
{% block content %}

{% if ticker %}
    {{ ticker }}
{% endif %}

{% if api %}
    {% if api == "Error..." %}
        There was a problem with ticker symbol and an error was thrown..
    {% else %}
    
    <h1>{{ api.companyName }}</h1><br/>
    Price: {{ api.latestPrice }}<br/>
    Previous Close: {{ api.previousClose }}<br/>
    Market Cap: {{ api.marketCap }}<br/>
    YTD Change: {{ api.ytdChange }}<br/>
    52WK High: {{ api.week52High }}<br/>
    52WK Low: {{ api.week52Low }}<br/>

    {% endif %}
{% endif %}

{% endblock %}